<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- import css-->
    <link rel="stylesheet" href ="/static/css/index.css">

    <!-- import jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- import js -->
    <script src="/static/js/index.js" async></script>

</head>
<body>
    <!-- top start -->
    <div class="top">
        <div class="top-menuWrapper">
            <img class="top-menu_icon" 
                src="/static/image/menu.png"
                onclick="open_menu()"
            >

        </div>
    </div>
    <!-- top end -->

    <!-- menu start -->
    <div class="menu">
        <div class="menu-listWrapper">
            <div class="menu-list-itemWrapper">
                <div class="menu-list-item-myWrapper">
                    <div class="menu-list-titleWrapper">
                        <div class="menu-list-title_text">
                                MY
                        </div>
                    </div>

                    <hr class="menu-list-title-underbar">

                    <div class="menu-list-item-my">
                        <div class="menu-list-item_text menu-list-item_textTop">
                            <a href="/login/">Login</a> 
                        </div>
                    </div>
                    <div class="menu-list-item-my">
                        <div class="menu-list-item_text menu-list-item_textTop">
                            <a href="/join/">Join</a>
                        </div>
                    </div>
                    <div class="menu-list-item-my">
                        <div class="menu-list-item_text menu-list-item_textTop">
                            <a href="/mypage/">Mypage</a>
                        </div>
                    </div>
                </div>

                <div class="menu-list-item-categoryWrapper">
                    <div class="menu-list-titleWrapper">
                        <div class="menu-list-title_text">
                            CATEGORY
                        </div>
                    </div>

                    <hr class="menu-list-title-underbar">

                    <div class="menu-list-item-category">
                        <div class="menu-list-item_text menu-list-item_textBottom">
                            <a href="/aboutus/">About us</a>
                        </div>
                    </div>
                    <div class="menu-list-item-category">
                        <div class="menu-list-item_text menu-list-item_textBottom">
                            <a href="/catsitter_search/">Catsitter search</a>
                        </div>
                    </div>
                    <div class="menu-list-item-category">
                        <div class="menu-list-item_text menu-list-item_textBottom">
                            <a href="/catsitter_mode/">Catsitter mode</a>
                        </div>
                    </div>
                    <div class="menu-list-item-category">
                        <div class="menu-list-item_text menu-list-item_textBottom">
                            <a href="/catee_mode/">Catee mode</a>
                        </div>
                    </div>
                </div>

                <div class="menu-list-item-contactWrapper">
                    <div class="menu-list-titleWrapper">
                        <div class="menu-list-title_text">
                            CONTACT
                        </div>
                    </div>

                    <hr class="menu-list-title-underbar">

                    <div class="menu-list-item-my">
                        <div class="menu-list-item_text menu-list-item_textTop">
                            hhs19962002@naver.com
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-aboutWrapper">

        </div>
        <div class="menu-closeWrapper">
            <img class="menu-close_icon"
                src="/static/image/close.png"
                onclick="close_menu()"
            >
        </div>
    </div>
    <!-- menu end -->

    <!-- content start -->
    <div class="content content1">
        <img class="content_logo_icon" src="">
        <div class="content-introWrapper">
            <div class="content-intro_text">
                안녕하세요<br>
                고양이고양이고양이
            </div>
        </div>
    </div>

    <div class="content content2">
        <div class="content2-buttonWrapper">
            <button class="content2-catsitter_button">Catsitter</button>
            <button class="content2-catee_button">Catee</button>
        </div>
    </div>

    <!-- content end -->

    <!-- index end -->
    <div class="div-index">
        <div class="div-index_1">
            <div class="div-index-circle" id="div-index-circle1">

            </div>
        </div>
        <div class="div-index_2">
            <div class="div-index-circle" id="div-index-circle2">
                
            </div>
        </div>
    </div>
    <!-- index end -->

</body>
</html>