<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- import css-->
     <link rel="stylesheet" href ="/static/css/notification.css">

    <!-- import jquery -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 
    <!-- import js -->
     <script src="/static/js/notification.js" async></script>
 
</head>
<body>
    <!-- top start -->
    <div class="top">
        <div class="top-menuWrapper">
            <img class="top-menu_icon" 
                src="/static/image/menu.png"
                onclick="open_menu()"
            >
            {% if notifications_count > 0 %}
            <div class="menu-notification_count">
                <div class="menu-notification_countText">
                    {{notifications_count}}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- top end -->

    <!-- menu start -->
    <div class="menu">
        <div class="menu-notificationWrapper">
            <a href="/notification/">
                <img src="/static/image/noti.png" class="menu-notification_image">
                {% if notifications_count > 0 %}
                <div class="menu-notification_count">
                    <div class="menu-notification_countText">
                        {{notifications_count}}
                    </div>
                </div>
                {% endif %}
            </a>
        </div>
        <div class="menu-profileWrapper">
            {% if not user.is_authenticated %}
                <img src="/static/image/unknown.png" class="menu-profile_image">
                <br>
                <font></font>
            {% else %}
                <!-- <img src="user.profile_image.url" class="menu-profile_image"> -->
                <img src="/static/image/unknown.png" class="menu-profile_image">
                <br>
                <font>{{user.username}}</font>
            {% endif %}

        </div>
        <div class="menu-listWrapper">
            <div class="menu-list-itemWrapper">
                <div class="menu-list-item-myWrapper">
                    <div class="menu-list-titleWrapper">
                        <div class="menu-list-title_text">
                                MY
                        </div>
                    </div>

                    <hr class="menu-list-title-underbar">

                    <div class="menu-list-item-my">
                        <div class="menu-list-item_text menu-list-item_textTop">
                            <a href="/login/">Login</a> 
                        </div>
                    </div>
                    <div class="menu-list-item-my">
                        <div class="menu-list-item_text menu-list-item_textTop">
                            <a href="/join/">Join</a>
                        </div>
                    </div>
                    <div class="menu-list-item-my">
                        <div class="menu-list-item_text menu-list-item_textTop">
                            <a href="/mypage/">Mypage</a>
                        </div>
                    </div>
                </div>

                <div class="menu-list-item-categoryWrapper">
                    <div class="menu-list-titleWrapper">
                        <div class="menu-list-title_text">
                            CATEGORY
                        </div>
                    </div>

                    <hr class="menu-list-title-underbar">

                    <div class="menu-list-item-category">
                        <div class="menu-list-item_text menu-list-item_textBottom">
                            <a href="/main/">Home</a>
                        </div>
                    </div>
                    
                    <div class="menu-list-item-category">
                        <div class="menu-list-item_text menu-list-item_textBottom">
                            <a href="/aboutus/">About us</a>
                        </div>
                    </div>
                    <div class="menu-list-item-category">
                        <div class="menu-list-item_text menu-list-item_textBottom">
                            <a href="/catsitter_search/">Catsitter search</a>
                        </div>
                    </div>
                    <div class="menu-list-item-category">
                        <div class="menu-list-item_text menu-list-item_textBottom">
                            <a href="/catsitter_mode/">Catsitter mode</a>
                        </div>
                    </div>
                    <div class="menu-list-item-category">
                        <div class="menu-list-item_text menu-list-item_textBottom">
                            <a href="/catee_mode/">Catee mode</a>
                        </div>
                    </div>
                </div>

                <div class="menu-list-item-contactWrapper">
                    <div class="menu-list-titleWrapper">
                        <div class="menu-list-title_text">
                            CONTACT
                        </div>
                    </div>

                    <hr class="menu-list-title-underbar">

                    <div class="menu-list-item-my">
                        <div class="menu-list-item_text menu-list-item_textTop">
                            hhs19962002@naver.com
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-aboutWrapper">

        </div>
        <div class="menu-closeWrapper">
            <img class="menu-close_icon"
                src="/static/image/close.png"
                onclick="close_menu()"
            >
        </div>
    </div>
    <!-- menu end -->

    <!-- content start -->
    <div class="content">
        <div class="content-deleteWrapper">
            <button class="content-delete_button" id="delete_checked_notification_button" onclick="delete_checked_notification()">
                    읽은 알림 삭제  
            </button>
            <div class="content-delete_bar">

            </div>
            <button class="content-delete_button" id="delete_all_notification_button" onclick="delete_all_notification()">
                    모두 삭제 
            </button>
        </div>
        <div class="content-notificationWrapper">
            {% for notification in notifications %}
                {% if notification.is_checked %}
                    <div class="content-notification checked_notification">
                        <div class="content-notification-imageWrapper">
                            {% if notification.category == 'review' %}
                                <img class="content-notification_image" src="/static/image/review1.png">
                            {% elif notification.category ==  'form' %}
                                <img class="content-notification_image" src="/static/image/form.png">
                            {% endif %}
                        </div>
                        <div class="content-notification-contentWrapper" id="notification_{{notification.id}}" onclick="check_notification(this)">
                            <div class="content-notification-content-textWrapper" >
                                <div class="content-notification-content_text">
                                    {% if notification.category == 'review' %}
                                        {{notification.creator}}님이 리뷰를 작성하였습니다.
                                    {% elif notification.category ==  'form' %}
                                        {{notification.creator}}님이 신청서를 보냈습니다.
                                    {% endif %}
                                </div>
                            </div>
                            <div class="content-notification-content-createdWrapper">
                                <div class="content-notification-content_created">
                                    {{notification.created_at | date:"n월 j일 g시 i분 a"}}
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="content-notification">
                        <div class="content-notification-imageWrapper">
                            {% if notification.category == 'review' %}
                                <img class="content-notification_image" src="/static/image/review1.png">
                            {% elif notification.category ==  'form' %}
                                <img class="content-notification_image" src="/static/image/form.png">
                            {% endif %}
                        </div>
                        <div class="content-notification-contentWrapper" id="notification_{{notification.id}}" onclick="check_notification(this)">
                            <div class="content-notification-content-textWrapper">
                                <div class="content-notification-content_text">
                                    {% if notification.category == 'review' %}
                                        {{notification.creator}}님이 리뷰를 작성하였습니다.
                                    {% elif notification.category ==  'form' %}
                                        {{notification.creator}}님이 신청서를 보냈습니다.
                                    {% endif %}
                                </div>
                            </div>
                            <div class="content-notification-content-createdWrapper">
                                <div class="content-notification-content_created">
                                    {{notification.created_at | date:"n월 j일 g시 i분 a"}}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- content end -->
</body>
</html>