body,html{
    margin : 0;
    padding : 0;
    width:100%;
    height:100%;
    /* background-color:#FAF4C0; */
    background-color: beige;
    /*화면 전체에 스크롤을 막아둠*/
    overflow: hidden;
}

a{
    color:inherit;
    text-decoration: none;
}

/* top css */
.top{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: transparent;
    z-index:8888;
}

.top-menuWrapper{
    position: absolute;
    width: 10%;
    height:100%;
    top: 0;
    right: 2%;
    background-color: transparent;
}

.top-menu_icon{
    position: relative;
    width: 20px;
    height: 20px;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);

}

/* menu css */
.menu{
    width:100%;
    height:100%;
    position: fixed;
    background-color: beige;
    z-index:9999;
    right:-100%;
}

.menu-closeWrapper{
    position: absolute;
    width: 10%;
    height: 50px;
    top: 0;
    right: 2%;
}

.menu-close_icon{
    position: relative;
    width: 25px;
    height: 25px;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.menu-listWrapper{
    position: relative;
    width:100%;
    height:100%;
    float:left;
    background-color:transparent;
}

.menu-list-itemWrapper{
    position: relative;
    width:100%;
    height:100%;
    background-color:transparent;
}

.menu-list-item-myWrapper{
    width:100%;
    height: 20%;
    position: relative;
    margin-bottom:5%;
    margin-top:30%;
}

.menu-list-item-my{
    position: relative;
    width:100%;
    height:15%;
    background-color: transparent;
    margin-bottom:2%;
}

.menu-list-item-categoryWrapper{
    width:100%;
    height: 40%;
    position: relative;
    background-color: transparent;
    margin-top: 10%;
}

.menu-list-item-category{
    position: relative;
    width:100%;
    height:12%;
    margin-bottom:2%;
}


.menu-list-titleWrapper{
    width:100%;
    height:5vw;
    position: relative;
    background-color: transparent;
}

.menu-list-title_text{
    width:100%;
    height:auto;
    text-align:left;
    top:50%;
    transform:translateY(-50%);
    position: relative;
    padding-left:15px;
    font-size:28px;
}

.menu-list-title-underbar{
    width:90%;
    margin-bottom:5%;

}

.menu-list-item_text{
    position: relative;
    width:100%;
    height:auto;
    padding-left:15px;
}

.menu-list-item_textTop{
    font-size:20px;
    font-weight:500;
}

.menu-list-item_textBottom{
    font-size:25px;
    font-weight:900;
}

.menu-list-item-contactWrapper{
    width:100%;
    height:20%;
    position: relative;
    background-color:transparent;
}

/* .menu-aboutWrapper{
    position: relative;
    width:40%;
    height:100%;
    float:left;
    background-color: blueviolet;
} */




/* content css */
.content{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.content-introWrapper{
    position: absolute;
    width: 75%;
    height: 25%;
    background-color: transparent;
    right:0;
    top:50px;
}

.content-intro_text{
    position: relative;
    width:100%;
    height:auto;
    top:50%;
    transform: translateY(-50%);
    text-align:center;
}

.content1{
    background-image: url('/static/image/index_background3.png');
    background-size: 100% 65%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.content2{
    background-image: url('/static/image/index2-1.png');
    background-size: 100% 55%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.content2-buttonWrapper{
    width:71vw;
    height:auto;
    position: relative;
    top:20%;
    left:60%;
    transform:translateX(-50%);
}

.content2-catsitter_button{
    width:35vw;
    height:13vw;
    background-color:#FAED7D;
    border-radius: 10px;
    margin-right: 1vw;
    position: relative;
    float:left;
    border:none;
    outline:none;
    font-size:5vw;
}

.content2-catee_button{
    width:35vw;
    height:13vw;
    background-color:#FAED7D;
    border-radius: 10px;
    position: relative;
    float:left;
    border:none;
    outline:none;
    font-size:5vw;
}


/* index css */
.div-index{
    width:10%;
    height:20vw;
    position: fixed;
    top: 30%;
    right:3%;
    background-color: transparent;
}

.div-index_1{
    width:100%;
    height:50%;
    position: relative;
    background-color: transparent;
}

.div-index_2{
    width:100%;
    height:50%;
    position: relative;
    background-color: transparent;
}

.div-index-circle{
    width:3.5vw;
    height:3.5vw;
    position: relative;
    border-radius: 50%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#div-index-circle1{
    background-color:black;
    opacity:1;
}


#div-index-circle2{
    background-color:gray;
    opacity: 0.5;
}