body,html{
    margin : 0;
    padding : 0;
    width:100%;
    height:100%;
    /* background-color:#FAF4C0; */
    background-color: beige;
    /*화면 전체에 스크롤을 막아둠*/
    overflow: hidden;
}

a{
    color:inherit;
    text-decoration: none;
}

/* top css */
.top{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: transparent;
    z-index:8888;
}

.top-menuWrapper{
    position: absolute;
    width: 10%;
    height:100%;
    top: 0;
    right: 2%;
    background-color: transparent;
}

.top-menu_icon{
    position: relative;
    width: 20px;
    height: 20px;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);

}

/* menu css */
.menu{
    width:100%;
    height:100%;
    position: fixed;
    background-color: beige;
    z-index:9999;
    right:-100%;
}

.menu-notificationWrapper{
    width:10%;
    height:50px;
    position: absolute;
    top:0;
    left:2%;
    background-color: transparent;
}

.menu-notification_image{
    position: relative;
    width: 30px;
    height: 30px;
    top: 55%;
    left:50%;
    transform: translate(-50%,-50%);
}

.menu-notification_count{
    position: absolute;
    width:15px;
    height:15px;
    bottom:10%;
    right:10%;
    background-color: red;
    z-index:9999;
    border-radius: 50%;
    text-align:center;
    font-size:8px;
    font-weight: 900;
}

.menu-notification_countText{
    position: relative;
    width:100%;
    height:auto;
    text-align:center;
    font-size:8px;
    font-weight: 900;
    top:50%;
    transform: translateY(-50%);
    background-color: transparent;
}

.menu-profileWrapper{
    width:50%;
    height:15%;
    position: absolute;
    left:50%;
    top:2%;
    transform: translateX(-50%);
    text-align: center;
    background-color:transparent;
}

.menu-profile_image{
    width:15vw;
    height:15vw;
    position: relative;
    border-radius: 50%;
    
}
.menu-closeWrapper{
    position: absolute;
    width: 10%;
    height: 50px;
    top: 0;
    right: 2%;
}

.menu-close_icon{
    position: relative;
    width: 25px;
    height: 25px;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.menu-listWrapper{
    position: relative;
    width:100%;
    height:100%;
    float:left;
    background-color:transparent;
}

.menu-list-itemWrapper{
    position: relative;
    width:100%;
    height:100%;
    background-color:transparent;
}

.menu-list-item-myWrapper{
    width:100%;
    height: 20%;
    position: relative;
    margin-bottom:5%;
    margin-top:40%;
}

.menu-list-item-my{
    position: relative;
    width:100%;
    height:15%;
    background-color: transparent;
    margin-bottom:2%;
}

.menu-list-item-categoryWrapper{
    width:100%;
    height: 40%;
    position: relative;
    background-color: transparent;
    margin-top: 10%;
}

.menu-list-item-category{
    position: relative;
    width:100%;
    height:12%;
    margin-bottom:2%;
}


.menu-list-titleWrapper{
    width:100%;
    height:5vw;
    position: relative;
    background-color: transparent;
}

.menu-list-title_text{
    width:100%;
    height:auto;
    text-align:left;
    top:50%;
    transform:translateY(-50%);
    position: relative;
    padding-left:15px;
    font-size:28px;
}

.menu-list-title-underbar{
    width:90%;
    margin-bottom:5%;

}

.menu-list-item_text{
    position: relative;
    width:100%;
    height:auto;
    padding-left:15px;
}

.menu-list-item_textTop{
    font-size:20px;
    font-weight:500;
}

.menu-list-item_textBottom{
    font-size:25px;
    font-weight:900;
}

.menu-list-item-contactWrapper{
    width:100%;
    height:20%;
    position: relative;
    background-color:transparent;
}

/* .menu-aboutWrapper{
    position: relative;
    width:40%;
    height:100%;
    float:left;
    background-color: blueviolet;
} */

/* content css */
.content{
    position: absolute;
    width:100%;
    height:90%;
    bottom:0;
    background-color:purple;
}

.content-deleteWrapper{
    position: relative;
    width:100%;
    height:10%;
    background-color:skyblue;
}

.content-delete_bar{
    position: absolute;
    width:2px;
    height:5vw;
    top:50%;
    right:23.6%;
    transform:translateY(-50%);
    background-color:gray;
    opacity: 0.5;
}

.content-delete_button{
    position: absolute;
    width:auto;
    height:10vw;
    background-color:transparent;
    border:none;
    outline:none;
}

#delete_checked_notification_button{
    top:50%;
    right:25%;
    transform: translateY(-50%);
}

#delete_all_notification_button{
    top:50%;
    right:5%;
    transform: translateY(-50%);
}

.content-notificationWrapper{
    position: relative;
    width:100%;
    height:90%;
    background-color:pink;
    overflow-y:scroll;
}

.content-notification{
    position: relative;
    width:100%;
    height:13%;
    background-color:transparent;
    border-bottom:1px solid gray;
}

.checked_notification{
    color:gray;
}

.content-notification-imageWrapper{
    width:20%;
    height:100%;
    position: relative;
    float:left;
    background-color:violet;
}

.content-notification_image{
    width:10vw;
    height:10vw;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.content-notification-contentWrapper{
    width:80%;
    height:100%;
    position: relative;
    float:left;
    background-color:aqua;
}

.content-notification-content-textWrapper{
    width:100%;
    height:70%;
    position: relative;
    background-color: brown;
}

.content-notification-content_text{
    width:95%;
    height:auto;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    margin-left:5%;
}

.content-notification-content-createdWrapper{
    width:100%;
    height: 30%;
    position: relative;
    background-color: orange;
}

.content-notification-content_created{
    width:100%;
    height:auto;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    text-align:right;
}


