@media(max-device-width : 600px){
    body, html{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-color: #FFD9FA;
        /* background-color: #FAED7D; */
        /* background-color: #FAF4C0; */
    }
    a{
        color: inherit;
        text-decoration: none;
    }

    input[type=submit] {-webkit-appearance:none;}
    input[type=button] {-webkit-appearance:none;}

    iframe{
        -webkit-overflow-scrolling:touch;
    }

    /* top css */
    .top{
        position: fixed;
        width: 100%;
        height: 50px;
        background-color: transparent;
        z-index: 8888;
    }

    .top-menuWrapper{
        position: absolute;
        width: 10%;
        height: 100%;
        top: 0;
        right: 2%;
        background-color: transparent;
    }

    .top-menu_icon{
        position: relative;
        width: 20px;
        height: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    /* menu css */
    .menu{
        width: 100%;
        height: 100%;
        background-color: beige;
        position: fixed;
        z-index: 9999;
        right: -100%;
    }

    .menu-notificationWrapper{
        width: 10%;
        height: 50px;
        position: absolute;
        top: 0;
        left: 2%;
        background-color: transparent;
        z-index: 9999;
    }

    .menu-notification_image{
        position: absolute;
        width: 25px;
        height: 25px;
        top: 55%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .menu-notification_count{
        position: absolute;
        width: 15px;
        height: 15px;
        bottom: 10%;
        right: 10%;
        background-color: red;
        border-radius: 50%;
    }

    .menu-notification_countText{
        position: relative;
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 8px;
        font-weight: 900;
        top: 50%;
        transform: translateY(-50%);
    }

    .menu-profileWrapper{
        width: 50%;
        height: 15%;
        position: absolute;
        left: 50%;
        top: 2%;
        transform: translateX(-50%);
        background-color: transparent;
        text-align: center;
    }

    .menu-profile_image{
        width: 15vw;
        height: 15vw;
        position: relative;
        border-radius: 50%;
    }

    .menu-closeWrapper{
        position: absolute;
        top: 0;
        right: 2%;
        width: 10%;
        height: 50px;
    }

    .menu-close_icon{
        position: relative;
        width: 20px;
        height: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .menu-listWrapper{
        position: relative;
        width: 100%;
        height: 100%;
        float: left;
        background-color: transparent;
    }

    .menu-list-titleWrapper{
        width: 100%;
        height: 5vw;
        position: relative;
    }

    .menu-list-title_text{
        width: 100%;
        position: relative;
        height: auto;
        text-align: left;
        top: 50%;
        transform: translateY(-50%);
        padding-left:15px;
        font-size: 28px;
    }

    .menu-list-title-underbar{
        width: 90%;
        margin-bottom: 5%;
    }

    .menu-list-itemWrapper{
        position: relative;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }

    .menu-list-item-myWrapper{
        width: 100%;
        height: 20%;
        position: relative;
        background-color: transparent;
        margin-top: 40%;
        margin-bottom: 5%;
    }

    .menu-list-item-categoryWrapper{
        width: 100%;
        height: 40%;
        position: relative;
        background-color: transparent;
        margin-top: 10%;
    }

    .menu-list-item-my{
        position: relative;
        width: 100%;
        height: 15%;
        background-color: transparent;
        margin-bottom: 3%;
    }

    .menu-list-item-category{
        position: relative;
        width: 100%;
        height: 12%;
        background-color: transparent;
        margin-bottom: 3%;
    }

    .menu-list-item_text{
        position: relative;
        width: 100%;
        height: auto;
        padding-left:15px; 
    }

    .menu-list-item_textTop{
        font-size: 20px;
        font-weight: 500;
    }

    .menu-list-item_textBottom{
        font-size: 25px;
        font-weight: 900;
    }

    .menu-list-item-contactWrapper{
        width: 100%;
        height: 20%;
        position: relative;
        background-color: transparent;
    }

    /* .menu-aboutWrapper{
        position: relative;
        width: 40%;
        height: 100%;
        float: left;
        background-color: blue;
    } */
    
    /* content css */
    .content{
        position: absolute;
        width: 100%;
        height: 90%;
        left: 0;
        bottom: 0;
        background-color: brown;
    }

    .content-searchWrapper{
        position: relative;
        width: 100%;
        height: auto;
        min-height: 130vw;
        background-color: skyblue;
    }

    .content-search-addressWrapper{
        position: relative;
        width: 100%;
        height: auto;
        min-height: 10vw;
        background-color: greenyellow;
    }

    .content-search-address_button{
        position: relative;
        border: none;
        outline: none;
        background-color: blueviolet;
    }

    .content-search-firstWrapper{
        position: relative;
        width: 100%;
        height: 20vw;
        background-color: violet;
    }

    .content-search-placeWrapper{
        position: relative;
        width: 50%;
        height: 100%;
        float: left;
        background-color: brown;
    }

    .content-search-havePetWrapper{
        position: relative;
        width: 50%;
        height: 100%;
        float: left;
        background-color: brown;
    }

    .content-search-titleWrapper{
        position: relative;
        width: 100%;
        height: 30%;
        background-color: wheat;
        font-weight: 800;
    }

    .content-search-title_text{
        position: relative;
        width: 100%;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
    }

    .content-search-selectWrapper{
        position: relative;
        width: 100%;
        height: 70%;
        background-color: saddlebrown;
    }

    .content-search_select{
        position: relative;
        width: 90%;
        height: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .content-search-secondWrapper{
        position: relative;
        width: 100%;
        height: 20vw;
        background-color: violet;
    }

    .content-search-timeWrapper{
        position: relative;
        width: 100%;
        height: 100%;
        background-color: brown;
    }

    .content-search-select-itemWrapper{
        position: relative;
        width: 100%;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
    }

    .content-search-select_item{
        margin-left: 5%;
        margin-right: 1%;
    }

    .content-search_button{
        position: relative;
        width: 40vw;
        height: 10vw;
        left: 50%;
        transform: translate(-50%,50%);
        border: none;
        outline: none;
        background-color: #FFD9FA;
        font-weight: 800;
    }





    .content-catsitterListWrapper{
        position: relative;
        width: 100%;
        height: 200vw;
        background-color: teal;
    }

    .content-catsitter-topWrapper{
        position: relative;
        width: 100%;
        height: 5%;
        background-color: yellowgreen;
    }

    .content-catsitter-top-sortWrapper{
        position: relative;
        width: 30%;
        height: 100%;
        background-color: darkblue;
        float: right;
    }

    .content-catsitter-top-sort_select{
        position: relative;
        width: 90%;
        height: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .content-catsitter-top-selectDistanceWrapper{
        position: relative;
        width: 30%;
        height: 100%;
        background-color: sandybrown;
        float: right;
    }

    .content-catsitter-resultWrapper{
        position: relative;
        width: 100%;
        height: 90%;
        background-color: saddlebrown;
        overflow-y: scroll;
    }

    .content-catsitter-itemWrapper{
        position: relative;
        width: 100%;
        height: 20%;
        background-color: salmon;
        margin-bottom: 1%;
    }

    .content-catsitter-item-profileWrapper{
        position: relative;
        width: 25%;
        height: 100%;
        background-color: cadetblue;
        float: left;
    }

    .content-catsitter-item-profile-imageWrapper{
        position: relative;
        width: 100%;
        height: 70%;
        background-color: firebrick;
    }

    .content-catsitter-item-profile_image{
        position: relative;
        width: 17vw;
        height: 17vw;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }

    .content-catsitter-item-profile-textWrapper{
        position: relative;
        width: 100%;
        height: 30%;
        background-color: gold;
    }

    .content-catsitter-item-profile_text{
        position: relative;
        width: 100%;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .content-catsitter-item-infoWrapper{
        position: relative;
        width: 75%;
        height: 100%;
        background-color: crimson;
        float: left;
    }

    .content-catsitter-item-info-topWrapper{
        position: relative;
        width: 100%;
        height: 25%;
        background-color: turquoise;
    }

    .content-catsitter-item-info-distanceWrapper{
        position: relative;
        width: 40%;
        height: 100%;
        background-color: slateblue;
        float: right;
    }

    .content-catsitter-item-info-distance_text{
        position: relative;
        width: 100%;
        height: auto;
        text-align: right;
        font-size: 5vw;
        font-weight: 800;
    }

    .content-catsitter-item-info-selectDistanceWrapper{
        position: relative;
        width: 40%;
        height: 100%;
        background-color: sandybrown;
        float: right;
    }

    .content-catsitter-item-info-middleWrapper{
        position: relative;
        width: 100%;
        height: 50%;
        background-color: seagreen;
    }

    .content-catsitter-item-info-middle-regionWrapper{
        position: relative;
        width: 100%;
        height: 50%;
        background-color: #FFD9FA;
    }

    .content-catsitter-item-info-middle-introduceWrapper{
        position: relative;
        width: 100%;
        height: 50%;
        background-color: #f8ce0b;
    }

    .content-catsitter-item-info-middle_text{
        position: relative;
        width: 100%;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
    }

    /* star rating css */
    .stars-outer {
        display: inline-block;
        position: relative;
        font-family: FontAwesome;
      }

      .stars-outer::before {
        content: "\f006 \f006 \f006 \f006 \f006";
      }

      .stars-inner {
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        overflow: hidden;
        width: 0;
      }

      .stars-inner::before {
        content: "\f005 \f005 \f005 \f005 \f005";
        color: #f8ce0b;
      }



    /* 주소 api */
    #sample3_postcode{
        width: 30vw;
        height: 5vw;
    }
    #sample3_address{
        height: 5vw;
    }
    #sample3_detailAddress{
        height: 5vw;
    }
    #sample3_extraAddress{
        height: 5vw;
    }
    #wrap{
        display:none;
        border:1px solid;
        width: 100%;
        height: 50vw;
        margin:5px 0;
        position:relative;
        overflow:auto;
        -webkit-overflow-scrolling:touch;
    }
}
@media(min-device-width : 600px){
    *{
        display: none;
    }
}